- name: Ensure Portainer namespace exists
  command: kubectl get namespace portainer
  register: port_ns
  ignore_errors: yes

- name: Create Portainer namespace
  command: kubectl create namespace portainer
  when: port_ns.rc != 0

- name: Install Portainer (Official Manifest)
  command: kubectl apply -n portainer -f https://raw.githubusercontent.com/portainer/k8s/master/deploy/manifests/portainer/portainer.yaml
