- name: Create ArgoCD namespace
  shell: kubectl create namespace argocd
  ignore_errors: yes

- name: Install ArgoCD
  shell: kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
